<div id="wrapper">

    <app-menu></app-menu>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <app-nav></app-nav>
            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Nuevo Destinatario</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="form-label">Rut</label>
                                                <input type="text" class="form-control form-control-user"
                                                    placeholder="Ingrese Rut">
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="form-label">Nombres</label>
                                                <input type="text" class="form-control form-control-user"
                                                    placeholder="Ingrese Nombres">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="form-label">Correo</label>
                                                <input type="email" class="form-control form-control-user"
                                                     placeholder="Ingrese Correo">
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="form-label">Telefono</label>
                                                <input type="email" class="form-control form-control-user"
                                                     placeholder="Ingrese Telefono">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="form-label">Banco</label>
                                                <select class="form-select form-control">
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                  </select>
                                            </div>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label class="form-label">Tipo de cuenta</label>
                                                    <select class="form-select form-control">
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                      </select>
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="form-label">Número de cuenta</label>
                                                <input type="email" class="form-control form-control-user"
                                                     placeholder="Correo">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4 mb-3 mb-sm-0"></div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <button class="btn btn-primary btn-user btn-block" type="submit">
                                                    Crear
                                                </button>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <app-footer></app-footer>

    </div>

</div>